body {
    font-family: 'Public Sans', sans-serif;
    font-weight: 300, 400, 700;
    overflow-x: hidden;
}

h1 {
    font-size: 3rem;
    color: #2d314c;
}

h2 {
    font-weight: 400;
    font-size: 2rem;
}

p,
h6 {
    color: #9a999f;
    font-weight: 300;
}

header {
    padding: 8% 0;
}

footer {
    padding: 3% 0;
}

/* Buttons */
.btn-invite {
    background: linear-gradient(90deg, #33cf6a, #25b6d3);
    border-radius: 25px;
    color: #fff;
    padding: 10px 30px;

}

/* Navigation */
.nav {
    padding: 2% 0;
    font-weight: 400;
}

.nav-link {
    color: #9a999f;
}

.navbar {
    background-color: #fff;
    z-index: 10 !important;
}

/* Images */
.ill1 {
    position: absolute;
    right: -18%;
    top: -25%;
    width: 70%;
    z-index: -1;
}

.ill2 {
    position: absolute;
    right: -7%;
    top: 0;
    width: 40%;
}

.easybank-icons {
    padding: 5% 0 10%;
}

.card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
}



.icons {
    width: 25px;
    height: auto;
    color: #fff;
    margin-top: 50px;
    padding-right: 10px;
}


/* Sections */
section {
    padding-top: 8%;
    padding-bottom: 8%;
}

.why-easy {
    background-color: #f4f5f7;
    z-index: -10;
}

.latest-articles {
    background-color: #fafafa;
}

.footer-c {
    background-color: #2d314e;
}

/* Cards */
.card {
    margin-top: 50px;
    border: none;
}

/* Footer */
.footer-links {
    color: #fff;
    list-style-type: none;
    text-decoration: none;
    line-height: 1.5;
    padding-top: 20px;

}

.footer-item {
    padding-bottom: 20px;
    ;
}

p.copyright {
    color: rgb(179, 179, 179);
    padding-top: 30px;
    font-size: 0.8rem;
}

.attribution {
    font-size: 11px;
    text-align: center;
    background-color: #f4f5f7;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/* 560 - 750 */

@media (max-width: 576px) {

    body {
        overflow-x: hidden;
    }

    section {
        padding-top: 25%;
        padding-bottom: 25%;
    }


    /*  kad je img-fluid*/
    .ill1 {
        left: -50%;
        top: -30%;
        width: 190%;
        z-index: -1;
        height: auto;
    }

    /* 
    .ill1 {
    left: -30%;
    top: -30%;
    width: 200%;
    z-index: -1;
    margin: 0;
    overflow-x: hidden;
    } */

    .ill2 {
        right: 0;
        top: -12%;
        width: auto;
    }

    .intro {
        margin-top: 100%;
    }


}